<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo</span>
                <span class="title2">Lucas Oliveira Damico Desenvolvedor Front-End & Back-End</span>
            </h1>

            <p class="paragraph">Coonheça mais sobre mim, meus projetos e habilidades técnicas</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                        sentiment_satisfied
                    </i>
                    Sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                        desktop_windows
                    </i>
                    Habilidades
                </a>
            </div>

        </div>
    </section>
</main>